body {
    display: flex;
    flex-direction: column; 
    text-align: center; 
    background: black;
    opacity: 90%;
    color: #ff6f00;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ff6f00;
    background-color: black;
    padding: 15px 30px;
    margin-top: 0;
    font-size: 30px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #ff6f00;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

#artistsContainer {
    display: flex;
    flex-direction: column;  
}

.artist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}

.artist img {
    max-width: 80%;
    max-height: 400px;
    border: 5px solid orange;
}

.about {
    padding-left: 100px;
    position: relative;
    font-size: 20px;
}

.about h1 {
    text-align: center;
    text-decoration-line: underline;
    font-size: 40px;
}


.purchase {
    border-radius: 50px;
    width: 73%;
    height: 15%;
    font-size: 100%;
    background-color: #ffc77d;
    color: #ff6f00;
    font-weight: bolder;
    border: 1px solid #ff6f00;
    position: relative;
    bottom: -15%;
}

.purchase:hover{
    background-color: black;
}

iframe {
    border: 5px solid #ff6f00;
    border-radius: 50px;
}