 body{
font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 48px;

    color: rgb(255, 167, 5);
}

h2{
    font-weight: 600;
    font-size: 40px;

}

.heroticket{
    /* background-color: rgb(5, 5, 5); */
    height: 200px;
    
    padding: 50px;

    margin-bottom: 50px;

}

.heroticket>p{
    color: rgb(228, 155, 46);
    font-size: 30px;
    width: 70%;
}

.section1{
    background-image: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG11c2ljJTIwZmVzdGl2YWx8ZW58MHx8MHx8fDA%3D);

    background-repeat: no-repeat;
    background-size: 100% 100%; 

    
    background-attachment: scroll;

    padding: 50px;


}

form{
    display: flex;
    flex-direction: column;

    width: 50%;

    background-color: #FF7103;
    
    margin-left: auto;
    margin-right: auto;

    padding: 60px 80px;

   
    
}

form label{
    font-size: 24px;
}
form input{
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}

form select{
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.ticketSelector{
    width: 5vw;
    padding-right: 5px;
}


form div{
    width: 100%;
   margin-bottom: 20px; 
}

form button{
    /* padding: 20px; */

    font-size: 18px;
    font-weight: 600;

    width: 120px;
    height: 50px;

    color: white ;

    background-color: rgb(0, 0, 27);
}

form button:hover{

    background-color: rgb(255, 136, 0);

}

input:invalid {
    border: 3px solid rgb(255, 255, 255);

    box-shadow: #030303;

}


.afterPayment{

    /* background-color: aqua; */

    padding: 60px 80px;
    
}

.afterPayment p{
    font-size: 24px;

}

footer{
    display: flex;
    font-size: 20px;
    background-color: #030303;

    padding: 20px 40px;

    justify-content: space-around;
    color: #FEC87E;
}

footer a{
    text-decoration: none;
    color: #FEC87E;
}

.socials{
    /* font-size: 22px; */
    padding-top: 10px;
    padding-bottom: 10px;


    display: flex;
    justify-content: space-between;
}

.socialSpace{ 
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ff6f00;
    background-color: black;
    padding: 15px 30px;
    margin-top: 0;
    font-size: 30px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #ff6f00;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
